.page-pagination .prev,
.page-pagination .next,
.page-pagination .active,
.page-pagination .pgn_link
{
    display: inline-block;
    vertical-align: middle;
    color: #666;
    font-size: 14px;
    margin: 4px;
}
.page-pagination {
    font-size: 14px;
    color: #333;
    margin: 10px auto;
    display: block;
    width: 280px;
}

.status_view_title th {
    background: rgb(87, 121, 156);
    color: #fff !important;
}

.status_view_list td {
    border-bottom: 2px solid #1f7200 !important;
}

.status_view_hidden td {
    border-bottom: 2px solid #ba3125 !important;
}

.call_order_form {
    display: none;
}

.product_image {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border:1px solid #808080;
}

.product_image:hover {
    border:1px solid #cccccc;
}

.mini_product_image{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border:1px solid #808080;
}
.mini_product_image:hover {
    border:1px solid #cccccc;
}

.big_icon {
    color: #ea8d00;
    display: inline;
}

.big_icon span {
    width: 24px;
    text-align: center;
    background: #ddd;
    font-size: 20px;
    line-height: 20px;
    margin-left: 3px;
    padding: 2px;
    display: inline-block;
}
.btn {
    margin: 2px auto !important;
}

form[name='call_order_form'] {
    display: block;
    overflow-y: auto;
    max-height: 700px !important;
}

.call_order_result {
    display: none;
}

.form-group {
    display: flex;
}


audio {
    vertical-align: top;
}

.A_phone {
    padding: 4px;
    color: #25476a;
}

.A_phone:hover {
    background: #25476a;
    color: #fff;
}

.A_phone_container {
    margin: 5px;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: inline-block;
}

.main_link {
    color: #25476a;
}

.main_link:hover {
    color: #1d324d;
    text-decoration: underline;
}

.closed_ticket {
    color: rgba(29, 50, 77, 0.47);
}

.ticket_message {
    margin: 10px;
    padding: 10px;
    background: rgba(249, 251, 219, 0.6);
    border: 1px solid rgba(233, 233, 233, 0.8);
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.ticket_message_data {
    color: #25476a;
    font-style: italic;
}

hr.content_divider {
    margin: 4px;
}

.round_icon {
    background: rgb(37, 71, 106);
    text-align: center;
    border-radius: 100%;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}

.selected_user_list_item {
    cursor: pointer;
}

.error_page {
    background: url("../img/ambi/logo.png");
    border: 1px solid #eee;
    padding: 10px;
    margin: 50px auto;
    width: 400px;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.error_page_text {
    margin: 50px auto;
    text-align: center;
}

label {
    text-align: left !important;
}

.action_item {
    font-style: italic;
    color: #092851 !important;
    font-weight: bold;
}

.object_container {
    display: flex;
    margin: 3px;
    width: 18px !important;
}

.object_icon {
    font-size: 19px !important;
    color: #092851;
    margin: 3px;
}

.main_link:nth-child(2) .object_icon {
    color: rgba(255, 0, 0, 0.83);
}

.main_link:nth-child(3) .object_icon {
    color: #e99900 !important;
}

.main_link:nth-child(7) .object_icon {
    color: #d300ff !important;
}

.main_link:nth-child(4) .object_icon {
    color: #43d607 !important;
}

.main_link:nth-child(5) .object_icon {
    color: #00cbff !important;
}

.main_link:nth-child(6) .object_icon {
    color: #0370ff !important;
}

form[name='call_order_form'] .abort_booking_container, form[name='call_order_form'] .abort_reason_textarea {
    display: none;
}

.audio_box {
    display: none;
}

.sim_radio {
    min-width: 160px;
    padding: 4px;
    border-radius: 10px;
}

.sim_radio_elem {
    display: inline-block;
    width: 80px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    padding: 4px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border: 1px solid #e8e8e8;
    color: #adadad;
}

.sim_radio_elem:hover {
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border: 1px solid #3f618c;
    color: #7d7d7d;
}

.sim_radio_elem_checked {
    color: #fff;
    border: 1px solid #959595;
    background: #092851;
    display: inline-block;
    width: 80px;
    text-align: center;
    border-radius: 2px;
    padding: 4px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgb(0, 16, 68);

}

.sim_radio_elem_checked:hover {
    cursor: pointer;
    color: #fff !important;
    border: 1px solid #3f618c;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

}

.width_sim {
    width: 260px !important;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2px;
}

.form_call_number, .call_datetime {
    font-weight: bolder;
}

form[name='call_order_form'] input[type='text'],
form[name='call_order_form'] input[type='date'] {
    padding: 4px;
    color: #25476a;
}

.small_input {
    width: 300px;
}

.input_error {
    border-color: #f8877f;
}

.new_table {
    border: 0px;
    padding: 4px;
}

.new_table td {
    padding: 8px;
}

.main_select {
    width: 200px;
}

.audio_box audio {
    width: 100%;
    float: right;
}

.no_border_table, .no_border_table td, .no_border_table th {
    border: none !important;
}

.field_not_checked {
    border: 1px solid red !important;
}

.dropdown-menu.open {
    top: 24px !important;
}

.add_phone_field {
    display: none;
}

#dt-basic tr td, #dt-basic tr th {
    font-weight: normal !important;
    font-size: 12px !important;
}

form.call_manage_form {
    text-align: center;
}

form.call_manage_form .form-group {
    text-align: left;
    display: block;
    padding: 6px;
    margin: 4px;
}

form.call_manage_form .sim_radio {
    width: 180px;
    margin: auto;
}

.sim_big {
    width: 800px !important;
}

.inline__ {
    display: inline-block !important;
}

form.call_manage_form .control-label {
    width: 650px;
    margin-bottom: 5px;
    text-align: right !important;
}

form.call_manage_form {
    color: #444;
}

.form_flow {
    height: 500px;
    overflow-y: scroll;
}

.sim_radio_elem_checked[data-id="1"] {
    background: #07c51a !important;
}

.sim_radio_elem_checked[data-id="0"] {
    background: #ca0000 !important;
}

.calls_count {
    font-size: 13px;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    background: #ddd;
    padding: 4px;
    color: #333;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 22px;
    border-radius: 2px;
}

.manage_buttons {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}


.auth_error{
    color: #ca0000 !important;
}

/* The slider itself */
.super_slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 2px; /* Specified height */
    /*background: #d3d3d3; !* Grey background *!*/
    background: rgba(0,166,69,1);
    background: -moz-linear-gradient(left, rgba(0,166,69,1) 0%, rgba(255,230,0,1) 48%, rgba(255,128,0,1) 74%, rgba(255,21,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,166,69,1)), color-stop(48%, rgba(255,230,0,1)), color-stop(74%, rgba(255,128,0,1)), color-stop(100%, rgba(255,21,0,1)));
    background: -webkit-linear-gradient(left, rgba(0,166,69,1) 0%, rgba(255,230,0,1) 48%, rgba(255,128,0,1) 74%, rgba(255,21,0,1) 100%);
    background: -o-linear-gradient(left, rgba(0,166,69,1) 0%, rgba(255,230,0,1) 48%, rgba(255,128,0,1) 74%, rgba(255,21,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,166,69,1) 0%, rgba(255,230,0,1) 48%, rgba(255,128,0,1) 74%, rgba(255,21,0,1) 100%);
    background: linear-gradient(to right, rgba(0,166,69,1) 0%, rgba(255,230,0,1) 48%, rgba(255,128,0,1) 74%, rgba(255,21,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a645', endColorstr='#ff1500', GradientType=1 );
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.super_slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.super_slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 4px;
    height: 20px;
    background: #086f38;
    cursor: pointer;
    border: 2px solid #06020600 !important;
    box-shadow: 2px 2px 4px 1px rgba(21, 69, 52, 0.5);
}

.super_slider::-moz-range-thumb {
    width: 4px;
    height: 20px;
    background: #086f38;
    cursor: pointer;
    border: 2px solid #06020600 !important;
    box-shadow: 2px 2px 4px 1px rgba(21, 69, 52, 0.5);
}

.slider_viewer {
    min-width: 50px;
    padding: 4px;
    font-size: 14px;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product_param_form_element {
    margin: 10px;
    border: 1px solid #ededed;
    border-radius: 10px;
    padding: 10px;
}

.product_param_form_element label {
    display: block;
    margin-bottom: 10px;
}

.category_name {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    padding: 4px;
}

.subcategory_name {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    padding: 4px;
}

.modal-backdrop + .select2-container{
    z-index:100000;
}

.product_loader, .orderer_loader {
    height: 150px;
}

.product_gallery {
    max-width: 100%;
    min-width: 150px;
    overflow: visible;
    height: 568px;
}

.product_gallery img {
    max-width: 60px;
    max-height: 60px;
}

#product_gallery img {
    max-width: 60px;
    max-height: 60px;
}

.moderation_message {
    padding: 10px;
    font-size: 11px;
    line-height: 18px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat-body .media-body > div > p {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
}

.doc_code {
    padding: 10px;
    color: #f0f1f5 !important;
    margin: 25px !important;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2);
    background: #337ab7;
}

.cities_container_box {
    display: none;
}

.found_product_item{
    display: block;
    margin-top: 10px;
    padding: 5px;
}

.found_product_container {
    display: none;
    box-shadow: 1px 1px 8px 0;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    z-index: 50;
    background-color: white;
    top: 40px;
    width: 520px;
    overflow: auto;
    max-height: 400px;
}

.found_product_item {
    cursor: pointer;
}

.found_product_item:hover {
    background: rgba(213, 214, 198, 0.22);
}

.selected_product_card {
    display: none;
}

.product_card_image, .product_card_name{
    display: inline-block;
}


/* NIFTY FIX */
.magic-radio+label:after {
    background: #25476a;
}
.magic-radio:checked+label:before {
    border: 2px solid #25476a;
}

.delivery_cost_field, .offer_toggle_data {
    display: none;
}

.removed_product_item{
    text-decoration: line-through;
    color: #d0d0d0;
}

.success_save_field {
    border: 2px solid green !important;
}

.wait_save_field {
    border: 2px solid orange !important;
}

.error_save_field {
    border: 2px solid red !important;
}
.page-fixedbar #page-head, .page-fixedbar #page-content{
    margin-left: 300px !important;
}

.form-group select option {
    max-width: 300px;
}

pre code {
    font-size: 16px;
}










.jv-line {
    margin:4px 0;
    display:flex;
    justify-content:flex-start
}
.caret-icon {
    width:18px;
    text-align:center;
    cursor:pointer
}
.empty-icon {
    width:18px
}
.json-type {
    margin-right:4px;
    margin-left:4px
}
.json-key {
    color:#444;
    margin-right:4px;
    margin-left:4px
}
.json-index {
    margin-right:4px;
    margin-left:4px
}
.json-separator {
}
.json-value {
    margin-left:8px
}
.json-number {
    color:#f9ae58
}
.json-boolean {
    color:#ec5f66
}
.json-string {
    color:#86b25c
}
.json-size {
    margin-right:4px;
    margin-left:4px
}
.hide {
    display:none
}

.fa-caret-down {
    border-width:6px 5px 0 5px;
    border-color:#808080 transparent
}
.fa-caret-right {
    border-width:5px 0 5px 6px;
    border-color:transparent transparent transparent #808080
}

.sidebar-sticky {
    position:-webkit-sticky;
    position:sticky;
    top:48px;
    height:calc(100vh - 48px);
    padding-top:.5rem;
    overflow-x:hidden;
    overflow-y:auto;
    color:#212529
}
.form-control-dark {
    color:#fff;
    background-color:rgba(255,255,255,.1);
    border-color:rgba(255,255,255,.1)
}
.form-control-dark:focus {
    border-color:transparent;
    box-shadow:0 0 0 3px rgba(255,255,255,.25)
}
.border-top {
    border-top:1px solid #e5e5e5
}
.border-bottom {
    border-bottom:1px solid #e5e5e5
}
@media(max-width:576px) {
    .loader {
        display:none!important
    }
}
h2 img.loader {
    max-height:28px
}
.CodeMirror {
    border:1px solid silver;
    border-radius:.25rem;
    font-size:1.1rem
}
.CodeMirror.CodeMirror-focused {
    color:#495057;
    background-color:#fff;
    border-color:#80bdff;
    outline:0;
    box-shadow:0 0 0 .2rem rgba(0,123,255,.25)
}
.CodeMirror pre.CodeMirror-placeholder {
    color:#999
}
#pills-res-headers .CodeMirror,
#pills-res-raw .CodeMirror,
#pills-res-content .CodeMirror,
#pills-res-html iframe,
#pills-res-json #resJSON,
#pills-res-redirects textarea,
#pills-res-timings .timings {
    min-height:150px;
    height:calc(100vh - 350px)
}
#embedModal .code .CodeMirror {
    max-height:300px
}
#embedModal .form-group.code {
    margin-bottom:40px
}
a.projectTitle {
    color:#495057
}
span.poweredBy,
a.poweredBy {
    color:#007bff
}
a.projectTitle:hover {
    color:#495057;
    text-decoration:none
}
.active a.projectTitle {
    color:white
}
a.shareLink {
    color:#495057
}
a.shareLink:hover {
    color:#495057;
    text-decoration:none
}
.http-tabs.nav-pills .nav-link.active,
.http-tabs.nav-pills .show>.nav-link {
    color:#1d2124;
    background-color:#e9ecef
}
.http-tabs a {
    color:#6c757d
}
#reqTitle,
#resTitle {
    height:4rem
}
.ie-warning {
    display:none!important
}
@media all and (-ms-high-contrast:none),(-ms-high-contrast:active) {
    .ie-warning {
        display:block!important
    }
}
#resTimeDesc {
    margin-left:20px
}
#resSizeDesc {
    margin-left:20px
}
.text-muted a,
a.text-muted {
    color:#212529
}

#contentArticle img {
    margin-left:15px
}
#reqPane a.art-btn {
    color:white;
    margin:30px 0 25px 0;
    padding:10px 20px 10px 20px;
    display:block
}
#resetPasswordPane h5 {
    margin-top:15px
}
#resetPasswordPane a {
    margin-top:25px
}
.content-img {
    float:right;
    margin-top:0;
    margin-bottom:25px
}
#reqForm .card .auth-form.noAuth {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100px
}
#reqPane.curl .rb-embed .rb-title {
    height:24px
}
#contentArticle .rb-embed .rb-title a,
#reqPane.index .rb-embed .rb-title a,
#reqPane.curl .rb-embed .rb-title a {
    color:#212529;
    background-color:#dae0e5
}
#reqPane #submit {
    padding-left:30px;
    padding-right:30px
}
#reqPane #reqForm #method {
    width:110px
}
#reqPane #reqForm #apiNode {
    width:70px
}
#resError {
    color:#b62861
}
#pills-res-timings .timings .timing-row-full {
    border-bottom:1px solid #f5f5f5
}
#pills-res-timings .timings .timing-row {
    width:90%;
    line-height:2.0em
}
#pills-res-timings .timings .timing-row .timing-label {
    min-width:135px;
    width:135px;
    border-right:1px solid #f5f5f5
}
#pills-res-timings .timings .timing-row .timing-offset {
    height:1.0em
}
#pills-res-timings .timings .timing-row .timing-progress {
    height:1.0em;
    min-width:1px
}
#pills-res-timings .timings .timing-row .timing-value {
    padding-left:5px;
    white-space:nowrap
}
.timings .dns .timing-progress {
    background-color:#0062cc
}
.timings .conn .timing-progress {
    background-color:#bdff
}
.timings .tls .timing-progress {
    background-color:#ffc107
}
.timings .send .timing-progress {
    background-color:#28a745
}
.timings .wait .timing-progress {
    background-color:#dc3545
}
.timings .recv .timing-progress {
    background-color:#00bcd4
}
.timings .redirect .timing-progress {
    background-color:#dc3545
}
.timings .transaction .timing-progress {
    background-color:#00bcd4
}
#pills-res-timings .timings .total .timing-label {
    font-weight:bold
}
#pills-res-timings .timings .total .timing-value {
    font-weight:bold
}
.timings .redirect-desc,
.timings .apiNode-desc {
    margin-top:30px
}
.timing-row-full.hide {
    display:none!important
}
.ad-supported {
    height:40px
}
.rate-limits {
    height:40px
}
#resJSON,
.timings {
    overflow:auto
}
﻿ #carbonads a {
    color:inherit;
    text-decoration:none
}
#carbonads a:hover {
    color:inherit
}
.horzads {
    margin-top:10px;
    margin-bottom:40px;
    border-radius:.25rem
}
.horzads #carbonads {
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",Helvetica,Arial,sans-serif
}
.horzads #carbonads {
    display:block;
    position:relative;
    overflow:hidden
}
.horzads #carbonads>span {
    position:relative;
    display:block
}
.horzads .carbon-wrap {
    display:flex;
    align-items:center
}
.horzads .carbon-img {
    display:block;
    margin:0;
    line-height:1
}
.horzads .carbon-img img {
    display:block
}
.horzads .carbon-text {
    display:flex;
    margin-bottom:12px;
    position:relative;
    max-width:500px;
    font-size:16px;
    line-height:1.4;
    padding:8px 1em;
    text-align:left;
    align-items:center
}
.horzads .carbon-text:after {
    display:table;
    content:'Learn More';
    white-space:nowrap;
    margin-left:20px;
    background-color:hsl(0,0%,20%);
    padding:12px 16px;
    border-radius:3px;
    line-height:1;
    color:#fff;
    font-size:14px;
    font-weight:600
}
.horzads .carbon-poweredby {
    position:absolute;
    bottom:0;
    left:146px;
    white-space:nowrap;
    font-size:10px;
    text-transform:uppercase;
    letter-spacing:.5px;
    font-weight:500;
    color:#999!important
}
@media only screen and (min-width:320px) and (max-width:759px) {
    .horzads .carbon-text:after {
        display:none
    }
}
.vertads {
    margin-left:0;
    margin-right:0
}
.vertads #carbonads {
    display:block;
    overflow:hidden;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    padding:1em;
    background:#f8f9fa;
    text-align:center;
    line-height:1.5;
    font-size:14px
}
.vertads #carbonads span {
    display:block;
    overflow:hidden
}
.vertads .carbon-img,
.vertads img {
    display:block;
    margin:0 auto 8px!important;
    line-height:1
}
.vertads .carbon-text {
    display:block;
    margin-bottom:8px
}
.vertads .carbon-poweredby {
    text-transform:uppercase;
    display:block;
    font-size:10px;
    letter-spacing:1px;
    line-height:1
}

.progress {
    background-color: rgba(55, 55, 55, 0.2);
}