.gate_direction_up {
    background-image: url("../images/up-arrow.png");
}

.gate_direction_down {
    background-image: url("../images/down-arrow.png");
}

.gate_direction_arrow {
    width: 250px;
    height: 500px;
    margin: auto;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.env_icon {
    width: 70px;
    height: 55px;
    margin: 10px auto;
    padding: 8px;
    display: block;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.25);
}

.env_icon_warning {
    background: #ff0000;
}
.env_icon_success {
    background: #9cc56c;
}

.modal_box {
    display: none;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -450px;
    width: 900px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
    border: 1px solid #ddd;
    z-index: 10000;
    background: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 40px;
}

.modal_box .header_modal {
    padding: 8px;
    font-size: 24px;
    background: #f9f8f8;
}

.modal_box .content_modal {
    padding: 8px;
}

.img_modal_ {
    min-width: 150px;
    max-width: 300px;
}

.big_text {
    font-size: 18px;
}

.user_check_popup {
    display: none;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
    border: 1px solid #ddd;
    z-index: 10001;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
}

.user_check_success, .verify_message_success {
    background: #3B8230;
    color: #fff;
}

.user_check_failure, .verify_message_danger{
    background: #f22314;
    color: #fff;
}

.user_check_document_alert {
    background: #f22314;
    color: #fff;
}

.verify_message_info {
    background: #e0e0e0;
    color: #fff;
    opacity: 0.5;
}

.verify_message {
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-left: 10px;
    padding: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
    border: 1px solid #ddd;
}

.verify_messages {
    margin-left: 30px;
    padding: 20px;
}

.fp_verify{
    background-size: 50px;
    background-image: url("../images/fpscanner.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.camera_verify{
    background-image: url("../images/face.svg");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.scud_verify{
    background-image: url("../images/scud.svg");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.document_verify{
    background-image: url("../images/docscanner.svg");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.database_verify{
    background-image: url("../images/database.svg");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.gate_opened_verify{
    background-image: url("../images/open.svg");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.gate_closed_verify{
    background-image: url("../images/access-denied.svg");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.gate_default_verify{
    background-image: url("../images/gate.svg");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.user_pass_verify{
    background-image: url("../images/user.svg");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.user_access_message {
    display: none;
    position: absolute;
    top: 250px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
    border: 1px solid #ddd;
    z-index: 10001;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
}

.passport_verify{
    background-image: url("../images/passport.svg");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.user_access_denied_message, .red_class {
    background: #f22314;
    color: #fff;
}
.user_access_granted_message, .green_class {
    background: #3B8230;
    color: #fff;
}

.table_info {
    width: 100%;
}

.table_info tr td {
    width: 50%;
    background: #fff;
    border: 1px solid #ddd;
    padding: 8px;
}

.environment_content_left {
    position: absolute;
    top: 20px;
    left: 20px;
}

.environment_content_right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.comeback_to_admin {
    z-index: 10000;
    position: absolute;
    top: 5px;
    left: 50%;
    width: 380px;
    margin-left: -160px !important;
}

.selected_td {
    background: #c3ff3f;
}

.doubtful_document {
    display: none;
    z-index: 2000000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.25);
    border-radius: 10px;
    padding: 10px;
}

.document_image_container {
    position: relative;
    top: 200px;
    margin-left: -300px;
    left: 50%;
    width: 600px;
}

.document_image_container img {
    margin: 10px;
}

.document_image_preview{
    display: none;
    z-index: 100001;
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
}

.last_pass_block {
    width: 800px;
    height: 250px;
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    border-radius: 10px;
    padding: 4px;
    z-index: 100001;
    cursor: pointer;
}

.last_pass_item {
    padding-top: 4px;
    height: 40px;
    margin: 2px;
    text-align: left;
    color: #fff !important;
}

.last_pass_item a{
    color: #fff !important;
}

.control_list_message {
    width: 500px;
    height: 100px;
    display: none;
    position: absolute;
    top: 250px;
    left: 50%;
    margin-left: -250px;
    background: rgb(255, 162, 0);
    color: #000;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    border-radius: 10px;
    padding: 4px;
    z-index: 100001;
    font-size: 24px;
    font-weight: bold;
}

.page-pagination .prev,
.page-pagination .next,
.page-pagination .active,
.page-pagination .pgn_link
{
    display: inline-block;
    vertical-align: middle;
    color: #666;
    font-size: 14px;
    margin: 4px;
}
.page-pagination {
    font-size: 14px;
    color: #333;
    margin: 10px auto;
    display: block;
    width: 280px;
}

.__gallery {
    display: none;
    width: 500px;
    height: 630px;
    top: 60px;
    z-index: 10000;
    background: rgba(49, 54, 73, 0.5);
    text-align: center;
    border: 1px solid #1f2f4e;
    position: fixed;
    margin-left: -250px;
    left: 50%;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 12px 0px rgba(40,40,150,0.25);
}
.__gallery_image {
    text-align: center;
}
.__gallery_image img {
    max-width: 500px;
    max-height: 600px;
}

.__gallery_close {
    position: absolute;
    top: 15px;
    right: 15px;
}